<form method="POST" action="/new">
  <fieldset>
    <legend>New Message</legend>
    <label>
      Name:
      <input
        id="messageAuthor"
        name="messageAuthor"
        type="text"
        minlength="3"
        maxlength="20"
        required
      />
    </label>
    <label>
      Country:
      <select name="messageCountry" id="messageCountry" required>
        <option value="" disabled selected>Select an option</option>
        <% countries.forEach(country => { %> <%- include("./countryOption.ejs",
        {country}) %> <% }) %>
      </select>
    </label>
    <label>
      Message:
      <textarea
        type="text"
        id="messageText"
        name="messageText"
        rows="5"
        cols="50"
        maxlength="200"
        required
      ></textarea>
    </label>
  </fieldset>
  <button type="submit">Send Message</button>
</form>
