<header>
  <a href="/" class="site-name">Odin's Bulletin Board</a>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li class="navbar-new"><a href="/new">Add Message</a></li>
    </ul>
  </nav>
</header>
