<span class="message">
  <p class="time"><%= message.created_at %></p>
  <p class="user"><%= message.user %></p>
  <p class="text"><%= message.text %></p>
  <% if (message.country) { %>
  <p class="country"><%= message.country %></p>
  <% } %>
</span>
